:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --main-title-color: #db00ff;
  --titles-color-without-back: #FF0070;
  --nav-color: #FF0070;
  --main-text-color: #F1B2CE;
  --main-title-whith-background-color: #000;
  --main-background-text-color: #FF0070; 
  --main-border-color: #FF0070;
}

.theme-dark .header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  cursor: pointer;
  border: 1px solid #ff006f5d;
}