.page {
  font-family: var(--main-font-face, IBM Plex Mono), Courier, monospace;
  padding: 0px 10px;
  line-height: 23.4px;
  margin: 0 auto;
  background-color: var(--main-background-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin: 0px;
  block-size: 100vh;
  min-height: 668px;
    background-image: var(
    --background-image,
    url("../images/cover-image-dark.png")
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.rec-decorator {
  position: absolute;
  top: 10px;
  right: 9px;
  color: var(--nav-color, #ff0070);
  font-size: var(--main-font-size, 18px);
  line-height: 25px;
  text-transform: uppercase;
  inline-size: 52px;
}

.rec-decorator::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0px;
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px #ff0070, 0px 0px 4px #ff0070, 0px 0px 4px #ff0070;
  background-color: var(--main-background-text-color, #ff0070);
  block-size: 10px;
  inline-size: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  border-top: 1px solid var(--main-border-color, #ff0070);
  border-right: 1px solid var(--main-border-color, #ff0070);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0px;
  border-bottom: 1px solid var(--main-border-color, #ff0070);
  border-left: 1px solid var(--main-border-color, #ff0070);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
}

.header__title {
  color: var(--main-title-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: Bold;
  line-height: 83%;
  letter-spacing: 0%;
  text-shadow: 4px 4px 0 var(--main-shadow-color, #ff0070);
  margin-top: 2px;
}

.header__post-title {
  align-self: center;
  margin-bottom: 0px;
  color: var(--main-title-whith-background-color, #000);
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  font-style: Bold;
  line-height: 23.4px;
  letter-spacing: 0%;
  margin-top: -10px;
  background-color: var(--main-background-text-color, #ff0070);
  max-inline-size: 355px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: center;
  margin-top: 10px;
  /* margin-right: 5px; */
  font-size: var(--main-font-size, 18px);
  font-style: normal;
  text-align: center;
  list-style: none;
  inline-size: 70px;
  block-size: 100%;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 4px;
  outline: none;
  color: var(--nav-color, #ff0070);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 70px;
}

.header__theme-menu-button_active {
  box-sizing: border-box;
  border: 1px solid var(--main-border-color, #ff0070);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid #ff006f5d;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #ff006f;
}

.main {
  margin-top: 40px;
}

.section-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--main-text-color, #f1b2ce);
  font-size: var(--main-font-size, 18px);
}

.section-main p,
h2,
h3 {
  font-size: var(--main-font-size, 18px);
}

.section-main article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-link {
  outline: none;
  text-decoration: none;
  text-shadow: 1px 2px 0px var(--main-shadow-color);
}

.section-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section-link:focus-visible {
  border: 1px solid var(--main-text-color);
}
.card__text, .card__title {
  line-height: 23.4px;
}
/* Расстановка между абзацами, заголовками и секциями */

.question-first .card__text:first-of-type {
  padding-bottom: 10px;
}

.question-second .card__text,
.question-second .card__title {
  margin-bottom: 10px;
}

.question-second .question-second-third .card__text {
  margin-bottom: 0px;
}

.question-third article .card__title:first-of-type {
  margin-bottom: 10px;
}

.question-third article .card__text:not(:last-of-type) {
  margin-bottom: 10px;
}

.section-main:not(:last-child) {
  margin-bottom: 50px;
}

.section-main:last-child {
  margin-bottom: 40px;
}

/* Конец расстоновки отступов между абзацами, заголовками и секциями */

.section-main .question-second-blocks {
  display: flex;
  flex-direction: column;
}

.section-main .section__title {
  color: var(--titles-color-without-back, #ff0070);
  font-size: var(--main-font-size, 18px);
}

.section-main .card__title {
  color: var(--main-title-whith-background-color, #000);
  font-weight: var(--main-font-bolder-weight, 700);
  background-color: var(--main-background-text-color, #ff0070);
}

.section-main:last-of-type {
  gap: 10px;
}

.question-third .card__title:not(:first-child) {
  font-weight: var(--main-font-weight, 400);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
}

.title-footer {
  color: var(--main-title-color, #db00ff);
  font-weight: var(--main-font-bolder-weight, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-align: center;
  text-shadow: 4px 4px 0 var(--main-shadow-color, #ff0070);
}

@media (width >= 768px) {
  .page {
    padding: 20px;
    padding-top: 0px;
  }

  .header__post-title {
    justify-self: end;
    max-inline-size: 364px;
        margin-top: -20px;
  }

  .header {
    margin: 0px;
    min-block-size: 100vh;
  }
  .rec-decorator {
    top: 19px;
    right: 8px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__theme-menu-list {
    margin-top: 17px;
  }

  .footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 20px 0px;
    margin-bottom: 0px;
    min-block-size: 100vh;
  }

  .main {
    margin-top: 60px;
  }

  .section-main:not(:last-child) {
    margin-bottom: 80px;
  }

  .section-main:last-child {
    margin-bottom: 60px;
  }

  .question-first {
    display: grid;
    grid-template-columns: 32.4% auto;
  }

  .question-second .section__title {
    width: 32.4%;
  }

  .question-third {
    display: grid;
    grid-template-columns: 32.4% auto;
  }

  .section-main:last-of-type {
    gap: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 260fr 315fr 433fr;
    gap: 20px;
  }

  .gallery img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery img:nth-child(2) {
    grid-column: 3;
    grid-row: -2 / -4;
  }

  .gallery img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .decorated-zone::before {
    top: 20px;
    right: 0px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }
}

@media (width >= 1024px) {
  .page {
    padding-bottom: 0px;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-top: 0px;
  }

  .header__post-title {
    max-inline-size: 491px;
    margin-top: -22px;
  }

  .header__theme-menu {
    justify-content: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    margin-right: 0px;
    inline-size: auto;
    block-size: auto;
    margin-top: 19px;
  }

  .question-first {
    display: grid;
    grid-template-columns: 32.035% auto;
  }

  .question-second article {
    flex-direction: row;
    gap: 20px;
  }

  .question-second-first,
  .question-second-second,
  .question-second-third {
    flex: 1;
    min-width: 0; /* Позволяет блокам сжиматься */
  }

  .question-third {
    display: grid;
    grid-template-columns: 32.035% auto;
  }

  .title-footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 2px 2px 0 var(--main-shadow-color, #ff0070);
  }
}
